<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="Sign in form of the wall assignment">
	<link rel="stylesheet" href="../../assets/css/global.css">
	<link rel="stylesheet" href="../../assets/css/sign_up_in.css">
	<link rel="icon" type="image/x-icon" href="../../assets/images/favicon.ico">
    <meta name="author" content="Demy C. Balanza">
	<title>The Wall | Sign In</title>
</head>
<body>
	<div class="container">
		<form id="signin_form">
			<div class="header">
				<h6>Welcome,</h6>
				<p>Login your account.</p>
			</div>
			<p id="error_text"></p>
			<label for="email_input">Email</label>
			<input id="email_input" type="email">
			<label for="password_input">Password</label>
			<input id="password_input" type="password">
			<button type="submit">Sign In</button>
			<p>Don't have an account? <a href="sign_up.html">Sign up</a></p>
		</form>
	</div>
	<script src="../../assets/js/constants.js"></script>
    <script src="../../assets/js/global.js"></script>
    <script src="../../assets/js/sign_in.js"></script>
</body>
</html>