<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="Sign up form of the wall assignment">
	<link rel="stylesheet" href="../../assets/css/global.css">
	<link rel="stylesheet" href="../../assets/css/sign_up_in.css">
	<link rel="icon" type="image/x-icon" href="../../assets/images/favicon.ico">
    <meta name="author" content="Demy C. Balanza">
	<title>The Wall | Sign Up</title>
</head>
<body>
	<div class="container">
		<form id="signup_form">
			<div class="header">
				<h6>Welcome,</h6>
				<p>Register a new account.</p>
			</div>
			<p id="error_text"></p>
			<div class="column">
				<label for="first_name_input">
					<span>First Name</span>
					<input type="text" id="first_name_input">
				</label>
				<label for="last_name_input">
					<span>First Name</span>
					<input type="text" id="last_name_input">
				</label>
			</div>
			<label for="email_input">Email</label>
			<input type="email" id="email_input">
			<label for="password_input">Password</label>
			<input type="password" id="password_input">
			<button type="submit">Sign Up</button>
			<p>Already have an account? <a href="sign_in.html">Login</a></p>
		</form>
	</div>
	
	<script src="../../assets/js/constants.js"></script>
    <script src="../../assets/js/global.js"></script>
    <script src="../../assets/js/sign_up.js"></script>
</body>
</html>